USE [master]
GO
/****** Object:  Database [KaraokeNice]    Script Date: 12/14/2023 10:20:17 PM ******/
CREATE DATABASE [KaraokeNice]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KaraokeNice', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KaraokeNice.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KaraokeNice_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\KaraokeNice_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KaraokeNice].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KaraokeNice]
GO
/****** Object:  Table [dbo].[CT_HoaDon]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HoaDon](
	[maHoaDon] [varchar](6) NOT NULL,
	[maDichVu] [varchar](6) NOT NULL,
	[soLuongDat] [int] NOT NULL,
	[donGia] [money] NOT NULL,
	[donViTinh] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_CT_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC,
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[maDichVu] [varchar](6) NOT NULL,
	[tenDichVu] [nvarchar](50) NOT NULL,
	[giaBan] [money] NOT NULL,
	[donViTinh] [nvarchar](10) NOT NULL,
	[soLuongTon] [int] NOT NULL,
	[maLoaiDV] [varchar](6) NOT NULL,
 CONSTRAINT [PK_DichVu] PRIMARY KEY CLUSTERED 
(
	[maDichVu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[maHoaDon] [varchar](6) NOT NULL,
	[ngayLapHD] [date] NOT NULL,
	[gioVao] [time](0) NOT NULL,
	[gioRa] [time](0) NULL,
	[tinhTrangHD] [bit] NOT NULL,
	[giaPhong] [money] NOT NULL,
	[maNhanVien] [varchar](6) NULL,
	[maPhong] [varchar](6) NOT NULL,
	[maKhachHang] [varchar](6) NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[maHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[maKhachHang] [varchar](6) NOT NULL,
	[hoTen] [nvarchar](50) NOT NULL,
	[gioiTinh] [nvarchar](50) NOT NULL,
	[soDT] [nvarchar](10) NOT NULL,
	[cCCD] [nvarchar](12) NOT NULL,
	[ngaySinh] [date] NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[maKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDichVu]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDichVu](
	[maLoaiDV] [varchar](6) NOT NULL,
	[tenLoaiDV] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiDichVu] PRIMARY KEY CLUSTERED 
(
	[maLoaiDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[maLoaiP] [nvarchar](50) NOT NULL,
	[tenLoaiP] [nvarchar](50) NULL,
	[sucChua] [int] NULL,
	[STT] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_LoaiPhong] PRIMARY KEY CLUSTERED 
(
	[maLoaiP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[maNhanVien] [varchar](6) NOT NULL,
	[tenNhanVien] [nvarchar](50) NOT NULL,
	[gioiTinh] [nvarchar](50) NOT NULL,
	[ngaySinh] [date] NULL,
	[cCCD] [nvarchar](12) NOT NULL,
	[soDT] [nvarchar](10) NULL,
	[chucVu] [nvarchar](50) NOT NULL,
	[mucLuong] [money] NOT NULL,
	[caLamViec] [nvarchar](50) NOT NULL,
	[tinhTrang] [nvarchar](50) NULL,
	[taiKhoan] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[maNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDatPhong]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDatPhong](
	[maPhieuDatPhong] [varchar](6) NOT NULL,
	[maKhachHang] [varchar](6) NOT NULL,
	[maPhong] [varchar](6) NOT NULL,
	[ngayDatPhong] [date] NOT NULL,
	[gioDatPhong] [time](7) NOT NULL,
 CONSTRAINT [PK_PhieuDatPhong] PRIMARY KEY CLUSTERED 
(
	[maPhieuDatPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[maPhong] [varchar](6) NOT NULL,
	[tenPhong] [nvarchar](50) NULL,
	[tinhTrangPhong] [nvarchar](50) NULL,
	[giaPhong] [money] NULL,
	[loaiPhong] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[maPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 12/14/2023 10:20:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[taiKhoan] [nvarchar](50) NOT NULL,
	[matKhau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[taiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CT_HoaDon] ([maHoaDon], [maDichVu], [soLuongDat], [donGia], [donViTinh]) VALUES (N'HD001', N'DV001', 24, 9000.0000, N'VND')
INSERT [dbo].[CT_HoaDon] ([maHoaDon], [maDichVu], [soLuongDat], [donGia], [donViTinh]) VALUES (N'HD001', N'DV003', 2, 15000.0000, N'VND')
INSERT [dbo].[CT_HoaDon] ([maHoaDon], [maDichVu], [soLuongDat], [donGia], [donViTinh]) VALUES (N'HD001', N'DV004', 2, 15000.0000, N'VND')
GO
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [giaBan], [donViTinh], [soLuongTon], [maLoaiDV]) VALUES (N'DV001', N'Bia 333', 9000.0000, N'VND', 589, N'LDV004')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [giaBan], [donViTinh], [soLuongTon], [maLoaiDV]) VALUES (N'DV002', N'Bia Tiger Bạc', 11000.0000, N'VND', 95, N'LDV004')
INSERT [dbo].[DichVu] ([maDichVu], [tenDichVu], [giaBan], [donViTinh], [soLuongTon], [maLoaiDV]) VALUES (N'DV003', N'Trái cây', 15000.0000, N'VND', 138, N'LDV002')
GO
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHD], [gioVao], [gioRa], [tinhTrangHD], [giaPhong], [maNhanVien], [maPhong], [maKhachHang]) VALUES (N'HD001', CAST(N'2023-11-15' AS Date), CAST(N'08:06:04' AS Time), CAST(N'10:00:00' AS Time), 1, 152000.0000, N'NV003', N'P001', N'KH009')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHD], [gioVao], [gioRa], [tinhTrangHD], [giaPhong], [maNhanVien], [maPhong], [maKhachHang]) VALUES (N'HD002', CAST(N'2023-11-15' AS Date), CAST(N'08:06:07' AS Time), CAST(N'17:00:00' AS Time), 1, 756500.0000, N'NV003', N'P002', N'KH008')
INSERT [dbo].[HoaDon] ([maHoaDon], [ngayLapHD], [gioVao], [gioRa], [tinhTrangHD], [giaPhong], [maNhanVien], [maPhong], [maKhachHang]) VALUES (N'HD003', CAST(N'2023-11-15' AS Date), CAST(N'08:06:09' AS Time), CAST(N'17:00:00' AS Time), 1, 1068000.0000, N'NV003', N'P005', N'KH008')
GO
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [soDT], [cCCD], [ngaySinh]) VALUES (N'KH001', N'Lê Thị Thanh Trang', N'Nữ', N'0245678013', N'556177146512', CAST(N'2000-02-15' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [soDT], [cCCD], [ngaySinh]) VALUES (N'KH002', N'Nguyễn Hữu Tuấn', N'Nam', N'0206351748', N'862111423194', CAST(N'2003-04-28' AS Date))
INSERT [dbo].[KhachHang] ([maKhachHang], [hoTen], [gioiTinh], [soDT], [cCCD], [ngaySinh]) VALUES (N'KH003', N'Trần Văn Lục', N'Nam', N'2429087994', N'57354145743', CAST(N'2003-06-18' AS Date))
GO
INSERT [dbo].[LoaiDichVu] ([maLoaiDV], [tenLoaiDV]) VALUES (N'LDV001', N'Đồ uống')
INSERT [dbo].[LoaiDichVu] ([maLoaiDV], [tenLoaiDV]) VALUES (N'LDV002', N'Đồ ăn')
INSERT [dbo].[LoaiDichVu] ([maLoaiDV], [tenLoaiDV]) VALUES (N'LDV003', N'Khác')
GO
SET IDENTITY_INSERT [dbo].[LoaiPhong] ON 

INSERT [dbo].[LoaiPhong] ([maLoaiP], [tenLoaiP], [sucChua], [STT]) VALUES (N'MLP001', N'Phòng 5 người', 5, 1)
INSERT [dbo].[LoaiPhong] ([maLoaiP], [tenLoaiP], [sucChua], [STT]) VALUES (N'MLP002', N'Phòng 10 người', 10, 2)
INSERT [dbo].[LoaiPhong] ([maLoaiP], [tenLoaiP], [sucChua], [STT]) VALUES (N'MLP003', N'Phòng 15 người', 15, 3)
SET IDENTITY_INSERT [dbo].[LoaiPhong] OFF
GO
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [cCCD], [soDT], [chucVu], [mucLuong], [caLamViec], [tinhTrang], [taiKhoan]) VALUES (N'NV001', N'Nguyễn Hữu Tuấn', N'Nam', CAST(N'2003-04-28' AS Date), N'23231323', N'0366403157', N'Quản lý', 15000000.0000, N'Ca 1', N'Đang làm', N'NV001')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [cCCD], [soDT], [chucVu], [mucLuong], [caLamViec], [tinhTrang], [taiKhoan]) VALUES (N'NV002', N'Trần Văn Lục', N'Nam', CAST(N'2003-11-20' AS Date), N'599782198734', N'0873461250', N'Nhân viên', 10000000.0000, N'Ca 2', N'Đang làm', N'NV002')
INSERT [dbo].[NhanVien] ([maNhanVien], [tenNhanVien], [gioiTinh], [ngaySinh], [cCCD], [soDT], [chucVu], [mucLuong], [caLamViec], [tinhTrang], [taiKhoan]) VALUES (N'NV003', N'Trần Minh Phụng', N'Nam', CAST(N'2003-09-18' AS Date), N'23124124', N'037414122', N'Nhân viên', 15000000.0000, N'Ca 3', N'Đang làm', N'NV003')
GO
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maKhachHang], [maPhong], [ngayDatPhong], [gioDatPhong]) VALUES (N'PDP001', N'KH004', N'P001', CAST(N'2023-12-15' AS Date), CAST(N'09:00:00' AS Time))
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maKhachHang], [maPhong], [ngayDatPhong], [gioDatPhong]) VALUES (N'PDP003', N'KH029', N'P007', CAST(N'2023-12-15' AS Date), CAST(N'09:30:00' AS Time))
INSERT [dbo].[PhieuDatPhong] ([maPhieuDatPhong], [maKhachHang], [maPhong], [ngayDatPhong], [gioDatPhong]) VALUES (N'PDP005', N'KH013', N'P011', CAST(N'2023-12-16' AS Date), CAST(N'17:30:00' AS Time))
GO
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [tinhTrangPhong], [giaPhong], [loaiPhong]) VALUES (N'P001', N'Phòng VIP', N'Đang sử dụng', 80000.0000, N'MLP001')
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [tinhTrangPhong], [giaPhong], [loaiPhong]) VALUES (N'P002', N'Phòng thường', N'Đang sử dụng', 85000.0000, N'MLP002')
INSERT [dbo].[Phong] ([maPhong], [tenPhong], [tinhTrangPhong], [giaPhong], [loaiPhong]) VALUES (N'P003', N'Phòng VIP', N'Trống', 100000.0000, N'MLP002')
GO
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'NV001', N'Tuan2804')
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'NV002', N'NV002')
INSERT [dbo].[TaiKhoan] ([taiKhoan], [matKhau]) VALUES (N'NV003', N'NV003')
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_DichVu] FOREIGN KEY([maDichVu])
REFERENCES [dbo].[DichVu] ([maDichVu])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_DichVu]
GO
ALTER TABLE [dbo].[CT_HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_CT_HoaDon_HoaDon] FOREIGN KEY([maHoaDon])
REFERENCES [dbo].[HoaDon] ([maHoaDon])
GO
ALTER TABLE [dbo].[CT_HoaDon] CHECK CONSTRAINT [FK_CT_HoaDon_HoaDon]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD  CONSTRAINT [FK_DichVu_LoaiDichVu] FOREIGN KEY([maLoaiDV])
REFERENCES [dbo].[LoaiDichVu] ([maLoaiDV])
GO
ALTER TABLE [dbo].[DichVu] CHECK CONSTRAINT [FK_DichVu_LoaiDichVu]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([maNhanVien])
REFERENCES [dbo].[NhanVien] ([maNhanVien])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Phong]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_TaiKhoan] FOREIGN KEY([taiKhoan])
REFERENCES [dbo].[TaiKhoan] ([taiKhoan])
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_TaiKhoan]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_KhachHang] FOREIGN KEY([maKhachHang])
REFERENCES [dbo].[KhachHang] ([maKhachHang])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_KhachHang]
GO
ALTER TABLE [dbo].[PhieuDatPhong]  WITH CHECK ADD  CONSTRAINT [FK_PhieuDatPhong_Phong] FOREIGN KEY([maPhong])
REFERENCES [dbo].[Phong] ([maPhong])
GO
ALTER TABLE [dbo].[PhieuDatPhong] CHECK CONSTRAINT [FK_PhieuDatPhong_Phong]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK_Phong_LoaiPhong1] FOREIGN KEY([loaiPhong])
REFERENCES [dbo].[LoaiPhong] ([maLoaiP])
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK_Phong_LoaiPhong1]
GO
USE [master]
GO
